@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

*,
*::before,
*::after {
  box-sizing: border-box;
}
// Variables
$index-page-img: 'https://images.unsplash.com/photo-1568465452541-e0e04872706f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80';

$passwordreset-page-img: 'https://images.pexels.com/photos/3938343/pexels-photo-3938343.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260';

$signup-page-img: 'https://images.pexels.com/photos/1618921/pexels-photo-1618921.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260';
// Utility
.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.w100 {
  width: 100%;
}

//Mixin
@mixin image-background-properties($image) {
  background-image: url($image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.45;
  position: relative;
  z-index: -1000;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-auto-rows: 90px minmax(200px, auto);
}

.grid > div {
  width: 100%;
}

.grid > div:nth-child(1) {
  grid-column: 1 / -1;
  grid-row: 1 / 7;
}

.grid > div:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  width: 100%;
  text-align: center;
}

.grid > div:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 4 / 6;
}

.flex {
  display: flex;
  flex-direction: column;
}

/* Content */

.bg-image-1 {
  @include image-background-properties($index-page-img);
}

.bg-image-2 {
  @include image-background-properties($passwordreset-page-img);
}

.bg-image-3 {
  @include image-background-properties($signup-page-img);
}

a {
  text-decoration: none;
  color: #333;
}

.contentbox {
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}

.bg-white {
  background-color: #ffffff;
}

.bg-clear {
  background-color: none;
}

.contentform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  overflow: none;
  flex-wrap: nowrap;
}

.contentlogo {
  display: block;
  width: 110px;
  height: auto;
  margin: 5px auto;
  position: relative;
  z-index: 10;
}

@media (max-width: 576px) {
  .contentlogo-mobile {
    width: 50px;
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .contentlogo-mobile {
    width: 60px;
    margin: 0;
  }
}

@media (max-width: 1800px) {
  .contentlogo-mobile {
    width: 75px;
    margin: 0;
  }
}

@media (max-width: 2700px) {
  .contentlogo-mobile {
    width: 80px;
    margin: 0;
  }
}

.contentset {
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 100%;
  margin: 5px auto;
  padding: 0;

  .passwordreset-header {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .form-directions {
    display: block;
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 0 2rem;
    margin: 0 auto;

    &:nth-child(1) {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    &:nth-child(2) {
      font-size: 0.5rem;
    }
  }
}

.contentset-input {
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

.btn {
  cursor: pointer;
  border: none;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.btn-primary {
  background: #ff6a5c;
  color: #fff;
}

.btn-accent {
  background: #fff;
  color: #ff6a5c;
  border: 1px solid #ff6a5c;
}

.footer {
  color: #333;
  font-weight: 600;
}

.links ul {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

// Food Page
// .food-wrapper > div {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   font-size: 1.4em;
//   color: #ffeead;
// }

html,
body {
  //   box-sizing: border-box;
  //   background-color: #ffeead;
  height: 100%;
  //   padding: 10px;
  //   margin: 0px;
}

.food-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px auto 75px;
  grid-template-areas:
    'h h h h h h h h h h h h'
    'm m m m m m m m m m m m'
    'f f f f f f f f f f f f';
}

.food-header {
  grid-area: h;
}

.food-menu {
  grid-area: m;
  width: 98%;
  height: 100%;
  margin: 0 auto;
}

.food-footer {
  grid-area: f;

  display: flex;
  flex-direction: column;
  background-color: #ffd9da;
  margin: 0;
  position: sticky;
  bottom: 0;
  a {
    color: #333;
  }
}

.hide {
  display: block;
}
.nav {
  justify-content: center;
}

@media (max-width: 375px) {
  .food-wrapper > div {
    font-size: 1.2em;
  }
  .food-wrapper {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px auto 75px;
    grid-template-areas:
      'h h h h h h h h h h h h'
      'm m m m m m m m m m m m'
      'f f f f f f f f f f f f';
  }

  .hide {
    display: none !important;
  }
}

// FOOD PAGE
.bg-light-primary {
  background-color: #ffd9da;
}

.navbar {
  &-toggler {
    border-color: transparent !important;
  }
}

.form-control-nav {
  border-radius: 7px;
  border: 0;
  padding: 0.5rem;

  &:focus {
    outline: 0;
  }
}
.form-control-nav-submit {
  display: none;
}

@media (max-width: 767px) {
  .form-control-nav {
    display: block;
    margin: 0.2rem auto;
  }
  .navbar-collapse {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 768px) {
  .navbar {
    font-size: 1rem;
  }

  .food-footer {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }

  @media (min-width: 1201px) {
    .navbar {
      font-size: 1.3rem;
    }
  }
}

// Recipes
.recipe-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 4em;

  .recipe-wrapper {
    justify-content: center;
    align-items: flex-end;
    position: relative;
    color: #333;
    margin: auto;
  }

  .recipe {
    display: grid;
    grid-auto-columns: 1fr;
    align-items: end;
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    .recipe__img {
      margin: auto;
      height: 15rem;
      border: 0.5px solid #333;
    }
    .recipe__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
      0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  }

  .recipe__content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;
    height: calc(100% - (2.5rem * 2));
    background: #fff;
    overflow: auto;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.8s ease;
    &:hover {
      opacity: 1;
    }

    .recipe__type,
    .recipe__name {
      margin: 0 auto 0.5rem auto;
      font-size: 1rem;
      line-height: 1.07em;
      letter-spacing: -0.015em;
    }
    .recipe__video,
    .recipe__instructions {
      margin: 1rem 0;
      font-size: 0.9rem;
      line-height: 1.3rem;
    }
  }
}
