*, *::before, *::after {
  box-sizing: border-box;
}

.bg-image {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    background-image: url("../img/food-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    min-height: 100vh;
    min-width: 100%;
  }

}
