@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.bg-image {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-image::before {
  content: "";
  background-image: url("../img/food-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
  min-height: 100vh;
  min-width: 100%;
  z-index: -1000;
}

.bg-image .container {
  max-width: 475px;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  position: relative;
}

.bg-image .container .logo-img {
  display: block;
  width: 106px;
  margin: 5px auto;
}

.bg-image .container .signin {
  background-color: #ffffff;
  padding: 25px;
}

.bg-image .container .signin .fieldset {
  border: medium none;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.bg-image .container .signin-username, .bg-image .container .signin-password, .bg-image .container .signin-submit {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

.bg-image .container .signin-username, .bg-image .container .signin-password {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

.bg-image .container .signin-submit {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #ff6a5c;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.bg-image .container .footer {
  color: #333;
  font-weight: 600;
}

.bg-image .container .footer .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px 0;
}

.bg-image .container .footer .copyright {
  text-align: center;
}

.bg-image .sign-up-box {
  background: #ffffff;
  padding: 25px;
}

.bg-image .sign-up-box p {
  text-align: center;
}

.forgot_password_link {
  margin-top: 20px;
  text-align: center;
}

.sign-up-link a {
  color: #006080;
}

a {
  text-decoration: none;
  color: #333;
}
